@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

@keyframes scaleDescale {
  0% {
    transform: scaleX(0.95) scaleY(0);
  }
  75% {
    transform: scaleX(1.02) scaleY(1.02);
  }
  100% {
    transform: scale(1);
  }
}
